<div class="login-wrapper">
	<div class="bg-pic">
		<img src="{{ asset('assets/img/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg') }}" data-src="{{ asset('assets/img/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg') }}" ui-jq="unveil" data-src-retina="{{ asset('assets/img/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg') }}" alt="" class="lazy">
		<div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
			<h2 class="semi-bold text-white">Some big text</h2>
            <p class="small">Some small text</p>
        </div>
	</div>
	<div class="login-container bg-white">
		<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
			<img src="{{ asset('assets/img/logo.png') }}" alt="logo" data-src="{{ asset('assets/img/logo.png') }}" ui-jq="unveil" data-src-retina="{{ asset('assets/img/logo_2x.png') }}" width="78" height="22">
			<p class="p-t-35">Sign into your Stakeholders account</p>
			<form id="form-login" name="login" class="p-t-15" role="form" novalidate ng-submit="signIn()" ng-controller="SecurityCtrl">
				<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : user.username.$invalid && !user.username.$pristine }">
					<label>Login</label>
					<div class="controls">
						<input type="text" name="username" placeholder="User Name" class="form-control" ng-model="user.username" required>
					</div>
				</div>
				<label class="error" for="username" ng-show="user.username.$invalid && !user.username.$pristine">This field is required.</label>
				<div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : user.password.$invalid && !user.password.$pristine }">
                    <label>Password</label>
                    <div class="controls">
                        <input type="password" class="form-control" name="password" placeholder="Credentials" ng-model="user.password" required>
                    </div>
                </div>
                <label class="error" for="password" ng-show="user.password.$invalid && !user.password.$pristine">This field is required.</label>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a href="" class="text-info small">Help? Contact Support</a>
                    </div>
                </div>
                <button class="btn btn-primary btn-cons m-t-10" type="submit" ng-disabled="login.$invalid">Sign in</button>
                <a ui-sref="access.register" class="btn btn-primary btn-cons m-t-10">Sign up</a>
			</form>
		</div>
		<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
			<button class="btn btn-block btn-info" type="button">
				<span class="pull-left"><i class="fa fa-facebook"></i></span>
				<span class="bold">Login with Facebook</span>
			</button>
			<button class="btn btn-block btn-danger" type="button">
				<span class="pull-left"><i class="fa fa-google-plus"></i></span>
				<span class="bold">Login with Google+</span>
			</button>
		</div>
	</div>
</div>